# Archivos generados por el IDE
*.iml
/.idea/*
.DS_Store

# Archivos generados por Gradle
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Archivos de configuración local
/local.properties

# Otros archivos a ignorar
*.log
*.apk
*.hprof
*.jks
*.keystore